<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MindBridge | Mental Wellness for Students</title>
    <link
      rel="shortcut icon"
      href="/MindBridge/static/images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/MindBridge/static/css/style.css" />
  </head>
  <body>
    <nav></nav>
  </body>
  <script src="/MindBridge/static/js/script.js"></script>
</html>
